@import "tailwindcss";
@keyframes splash {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-splash {
  animation: splash 2.4s ease-out forwards;
}

/* New fade-out for the container */
.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ===== Date Picker Icon ===== */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(42%) sepia(98%) saturate(640%) hue-rotate(95deg)
    brightness(95%) contrast(90%);
  cursor: pointer;
}

/* ===== Time Picker Icon ===== */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(42%) sepia(98%) saturate(640%) hue-rotate(95deg)
    brightness(95%) contrast(90%);
  cursor: pointer;
}
